@font-face {
    font-family: MontserratRegular;
    src: url(public/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: PinyonScriptRegular;
    src: url(public/fonts/PinyonScript-Regular.ttf);
}

:root {
    --brown: #4B3D1A;
    --green-dark: #364025;
    --green-light: #899064;
    --ocher: #993408;
    --beige-light: #CFBB9A;
    --beige-lighter: #E6D7C4;
}

/* 
 Phones
@media (min-width: 425px) {}
 Tablets
@media (min-width: 768px) {}
 Laptops
@media (min-width: 1024px) {}
 Laptops L
@media (min-width: 1440px) {}
*/

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--green-light);
    font-family: PinyonScriptRegular;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 8px 0 8px;
}
.icon {
    fill: var(--green-dark);
    align-self: center;

    width: 90%;
    max-height: 90%;
}
.title {
    color: var(--green-dark);
    text-align: right;
    margin: 0;
    padding: 0;

    font-size: 24px;
}

@media (min-width: 768px) {
    .wrapper {
        margin: 0 5% 0 5%;
    }
    .icon {
        width: 80%;
        max-height: 80%;
    }
    .title {
        font-size: 40px;
    }
}
@media (min-width: 1024px) {
    .wrapper {
        margin: 0 10% 0 10%;
    }
}
@media (min-width: 1440px) {
    .wrapper {
        margin: 0 15% 0 15%;
    }
    .title {
        font-size: 80px;
    }
}